{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    th:last-child { width: 14% }
  </style>
  <div class="row">
    <div class="col-md-12">
      <h2 class="project-name">{{ current_project }}</h2>
      <h2 class="dashboard__header">Manage Event Definitions</h2>
      {% if schemas %}
        <table class="table-styled" id="table-1">
          <tbody class="simulations">
          <tr>
            <th>Schema Name</th>
            <th>Description</th>
            <th>Number Of Fields</th>
            <th>Actions</th>
          </tr>

          {% for schema in schemas %}
            <tr>
              <td>{{ schema.name }}</td>
              <td>{{ schema.description }}</td>
              <td>{{ schema.schemafield_set.count }}</td>
              <td>
                <a href="{% url 'projects:schemas:edit_schema' project_id=current_project.id schema_id=schema.id %}"
                   class="card-action edit">
                  <span class="helper">Edit</span>
                </a>

                <a href="{% url 'projects:schemas:export_schema' project_id=current_project.id schema_id=schema.id %}"
                   class="card-action export">
                  <span class="helper">Export</span>
                </a>

                <a href="{% url 'projects:schemas:duplicate_schema' project_id=current_project.id schema_id=schema.id %}"
                   class="card-action duplicate">
                  <span class="helper">Duplicate</span>
                </a>

                <a href="{% url 'projects:schemas:delete_schema' project_id=current_project.id schema_id=schema.id %}"
                   class="card-action delete">
                   <span class="helper">Delete</span>
                </a>

              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="empty">
            <span class="empty__text">No schemas are available.</span>
            <img src="{% static 'design/images/empty-schemas.svg' %}"
                 width="155" height="134" alt="no data" class="empty__image">
        </div>
    {% endif %}

      {% if is_paginated %}
        <div>
          <span>
              {% if page_obj.has_previous %}
                <a class="btn btn-default" href="?page=1">&laquo; First</a>
                <a class="btn btn-default" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}

            <span class="btn btn-default" style="opacity: 1; pointer-events: none;">
                  Page {{ page_obj.number }} of {{ paginator.num_pages }}.
              </span>

            {% if page_obj.has_next %}
              <a class="btn btn-default" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="btn btn-default" href="?page={{ paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
          </span>
        </div>
      {% endif %}

      <div class="dashboard__footer">
        <a href="{% url 'projects:schemas:new_schema' project_id=current_project.id %}" class="btn">
          Add Event Definition
        </a>
      </div>
    </div>
  </div>
{% endblock %}
