{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h2 class="project-name">{{ current_project }}</h2>
    <h2 class="dashboard__header">Edit Data Source</h2>

    <div class="new-item new-item--simulation wrapper">
        <form autocomplete="off" method="post">
            {% csrf_token %}
            {% if form.errors.exception %}
                <span class="card__field card__field--red" data-header="Status">{{ form.errors.exception }}</span>
            {% endif %}
            <div id="invalid_form" hidden></div>
            <div class="new-item__title">
                {% for field in form %}
                    {# {{ field.label }}#}
                    {% if field.name == 'source_type' %}
                        <div class="styled-select new-item__event-type">{{ field }}</div>
                    {% elif field.name == 'stream' %}
                        <div class="styled-select new-item__run-type">{{ field }}</div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <span class="card__field">{{ field.help_text }}</span>
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="card__field card__field--red" data-header="Status">{{ error }}</span>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="new-item__body" id="schema-table">
                {% if fields.exists %}
                    <table class="new-item__step" id="fields-table">
                        <tr>
                            <th><b>Field Name</b></th>
                            <th><b>Description</b></th>
                            <th><b>Field Type</b></th>
                            <th><b>Required</b></th>
                            <th><b>Actions</b></th>
                        </tr>
                        {% for field in fields %}
                            <tr>
                                <td>
                                    <input name="name_{{ field.id }}" value="{{ field.name }}" class="required"/>
                                </td>
                                <td>
                                    <input name="description_{{ field.id }}" value="{{ field.description }}"/>
                                </td>
                                <td>
                                    <div class="styled-select">
                                        <select name="type_field_{{ field.id }}">
                                            {% for type_field in field_types %}
                                                <option value="{{ type_field.0 }}"
                                                        {% if type_field.0 == field.type_field %}selected{% endif %}>{{ type_field.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>
                                  <label class="checkbox-container">
                                      <input type="hidden" value="False" name="required_{{ field.id }}">
                                      <input type="checkbox" name="required_{{ field.id }}" onchange="updateCheckbox(this)"
                                             value="{{ field.required }}" {% if field.required %}checked{% endif %}>
                                      <span class="checkmark" style="top: 10px; left: 0"></span>
                                  </label>
                                </td>
                                <td>
                                    <a href="" class="card-btn card-btn--delete">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div class="new-item__footer">
                <button class="btn" id="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        var fieldTypes = {{ field_types | safe }};
    </script>
{% endblock %}
