<div class="modal fade reportAddpp" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <a  class="close" data-dismiss="modal" aria-label="Close">
                    &nbsp;
                </a>
                <h2>Add A New Report Item</h2>
                <div class="report_btns">
                    <div>
                        <button id="data-table">
                            <img src="/static/design/images/tables.svg" alt="Data Table" />
                        </button>
                        <span>Data Table</span>
                    </div>
                    <div>
                        <button id="saved-search">
                            <img src="/static/design/images/search.svg" alt="Saved Search" />
                        </button>
                        <span>Saved Search</span>
                    </div>
                    <div>
                        <button id="bar-chart">
                            <img src="/static/design/images/barChart.svg" alt="Bar Chart" />
                        </button>
                        <span>Bar Chart</span>
                    </div>
                    <div>
                        <button id="histogram">
                            <img src="/static/design/images/hostagram.svg" alt="Histogram" />
                        </button>
                        <span>Histogram</span>
                    </div>
                    <div>
                        <button id="series-chart">
                            <img src="/static/design/images/timeseries.svg" alt="Time Series" />
                        </button>
                        <span>Time Series</span>
                    </div>
                </div>
                <div class="report_btns">
                    <div>
                        <button id="scatter-plot">
                            <img src="/static/design/images/scattoeplot.svg" alt="Scatter Plot" />
                        </button>
                        <span>Scatter Plot</span>
                    </div>
                    <div>
                        <button id="metrics">
                            <img src="/static/design/images/metrix.svg" alt="Metrics" />
                        </button>
                        <span>Metrics</span>
                    </div>
                    <div>
                        <button id="summary">
                            <img src="/static/design/images/summary.svg" alt="Summary" />
                        </button>
                        <span>Summary</span>
                    </div>
                    <div>
                        <button id="external-source">
                            <img src="/static/design/images/external.svg" alt="External Source" />
                        </button>
                        <span>External Source</span>
                    </div>
                </div>
                <button class="reportAddBtn">Add</button>
            </div>
        </div>
    </div>
</div>