{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-10">
    <h4 class="new-item__header">Monitor {{ kpi.category }} - {{ kpi.metric }}
    {% if slicing_enabled %} by {{ slice_field }} - {{ slice_value }} {% endif %}</h4>

    {% include 'reports/options.html' %}

    <br>

    <div class="card-large" data-collapsed="0">
      <h2 class="card-large__header">Source Data</h2>
      <div class="card-large__body">
        {% include 'reports/kpi_data_report.html' %}
      </div>
    </div>

    <div class="card-large" data-collapsed="0">
      <h2 class="card-large__header">KPI Increment Over Time</h2>
      <div class="card-large__body">
        {% include 'reports/kpi_over_time_report.html' %}
      </div>
    </div>

    <div class="card-large" data-collapsed="0">
      <h2 class="card-large__header">KPI Increment Over Time (Cumulative)</h2>
      <div class="card-large__body">
        {%  include 'reports/kpi_over_time_report_cumulative.html' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
