{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block content %}
    <link rel="stylesheet" href="{% static 'streamprocessors/css/bootstrap.css' %}">
    <link rel="stylesheet"
          href="{% static 'streamprocessors/css/scrolltabs.css' %}">
    <link rel="stylesheet"
          href="{% static 'streamprocessors/css/pie-wrapper.css' %}">
    <style>
            th:nth-child(1) {
                width: 32%
            }

            th:nth-child(2) {
                width: 48%
            }

            th:nth-child(3) {
                width: 20%
            }

            .sub-selects {
                border: 2px solid grey;
                border-radius: 8px;
                margin-bottom: 10px;
            }

            .sub-selects > *:last-child {
                margin-bottom: 0;
            }

        </style>
    <h2 class="dashboard__header">Monitor Stream Processor</h2>
    <div class="monitor">
        <div class="monitor__tabs">
            <div id="tabSet" class="monitor__tabs_scroll">
                <span class="tab_selected" rel="overall">Overall</span>
                <span rel="rep-1">Replica 1</span>
                <span rel="rep-2">Replica 2</span>
                <span rel="rep-3">Replica 3</span>
                <span rel="rep-4">Replica 4</span>
                <span rel="rep-5">Replica 5</span>
                <span rel="rep-6">Replica 6</span>
                <span rel="rep-7">Replica 7</span>
                <span rel="rep-8">Replica 8</span>
                <span rel="rep-9">Replica 9</span>
                <span rel="rep-10">Replica 10</span>
            </div>
        </div>
        <div class="monitor__body">
            <div class="monitor__body_tab" id="overall">
                <div class="monitor__body_tab_child">
                    <span class="monitor__body_tab_child_header">Inbound Event</span>
                    <div class="monitor__body_tab_child_content">
                        <div class="row">
                            <div class="col-md-6 content_status">
                                <div class="content_status_col border_right">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">23</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Total Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">54</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Current Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="content_status_amount text-left">4325</div>
                                    <div class="content_status_desc text-left" style="margin-bottom: 13px;">Events Processed</div>
                                    <div class="content_status_amount text-left">7865 <span>kb</span></div>
                                    <div class="content_status_desc text-left">Data Processed</div>
                                </div>
                            </div>
                            <div class="col-md-6 content_charts">
                                <ul class="nav content_charts_nav">
                                    <li class="active">
                                        <a href="#inbound-events-chart" data-toggle="tab" class="active">Events Processed</a>
                                    </li>
                                    <li>
                                        <a href="#inbound-data-chart" data-toggle="tab">Data Processed</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="inbound-events-chart">
                                        <div class="content_chart">
                                            <canvas id="inboundEventsByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="inbound-data-chart">
                                        <div class="content_chart">
                                            <canvas id="inboundDataByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="monitor__body_child_linter">
                    <img src="{% static 'design/images/step_connector.svg' %}" />
                </div>

                <div class="monitor__body_tab_child">
                    <span class="monitor__body_tab_child_header">Simple Filter</span>
                    <div class="monitor__body_tab_child_content">
                        <div class="row">
                            <div class="col-md-6 content_status">
                                <div class="content_status_col border_right">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">23</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Total Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">54</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Current Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="content_status_amount text-left">4325</div>
                                    <div class="content_status_desc text-left" style="margin-bottom: 13px;">Events Processed</div>
                                    <div class="content_status_amount text-left">7865 <span>kb</span></div>
                                    <div class="content_status_desc text-left">Data Processed</div>
                                </div>
                            </div>
                            <div class="col-md-6 content_charts">
                                <ul class="nav content_charts_nav">
                                    <li class="active">
                                        <a href="#filter-events-chart" data-toggle="tab" class="active">Events Processed</a>
                                    </li>
                                    <li>
                                        <a href="#filter-data-chart" data-toggle="tab">Data Processed</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="filter-events-chart">
                                        <div class="content_chart">
                                            <canvas id="filterEventsByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="filter-data-chart">
                                        <div class="content_chart">
                                            <canvas id="filterDataByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="monitor__body_child_linter">
                    <img src="{% static 'design/images/step_connector.svg' %}" />
                </div>

                <div class="monitor__body_tab_child">
                    <span class="monitor__body_tab_child_header">Stream Lookup</span>
                    <div class="monitor__body_tab_child_content">
                        <div class="row">
                            <div class="col-md-6 content_status">
                                <div class="content_status_col border_right">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">23</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Total Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">54</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Current Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="content_status_amount text-left">4325</div>
                                    <div class="content_status_desc text-left" style="margin-bottom: 13px;">Events Processed</div>
                                    <div class="content_status_amount text-left">7865 <span>kb</span></div>
                                    <div class="content_status_desc text-left">Data Processed</div>
                                </div>
                            </div>
                            <div class="col-md-6 content_charts">
                                <ul class="nav content_charts_nav">
                                    <li class="active">
                                        <a href="#stream-events-chart" data-toggle="tab" class="active">Events Processed</a>
                                    </li>
                                    <li>
                                        <a href="#stream-data-chart" data-toggle="tab">Data Processed</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="stream-events-chart">
                                        <div class="content_chart">
                                            <canvas id="streamEventsByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="stream-data-chart">
                                        <div class="content_chart">
                                            <canvas id="streamDataByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="monitor__body_child_linter">
                    <img src="{% static 'design/images/step_connector.svg' %}" />
                </div>

                <div class="monitor__body_tab_child">
                    <span class="monitor__body_tab_child_header">Map To Event Type</span>
                    <div class="monitor__body_tab_child_content">
                        <div class="row">
                            <div class="col-md-6 content_status">
                                <div class="content_status_col border_right">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">23</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Total Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">54</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Current Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="content_status_amount text-left">4325</div>
                                    <div class="content_status_desc text-left" style="margin-bottom: 13px;">Events Processed</div>
                                    <div class="content_status_amount text-left">7865 <span>kb</span></div>
                                    <div class="content_status_desc text-left">Data Processed</div>
                                </div>
                            </div>
                            <div class="col-md-6 content_charts">
                                <ul class="nav content_charts_nav">
                                    <li class="active">
                                        <a href="#map-events-chart" data-toggle="tab" class="active">Events Processed</a>
                                    </li>
                                    <li>
                                        <a href="#map-data-chart" data-toggle="tab">Data Processed</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="map-events-chart">
                                        <div class="content_chart">
                                            <canvas id="mapEventsByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="map-data-chart">
                                        <div class="content_chart">
                                            <canvas id="mapDataByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="monitor__body_child_linter">
                    <img src="{% static 'design/images/step_connector.svg' %}" />
                </div>

                <div class="monitor__body_tab_child">
                    <span class="monitor__body_tab_child_header">Outbound Step</span>
                    <div class="monitor__body_tab_child_content">
                        <div class="row">
                            <div class="col-md-6 content_status">
                                <div class="content_status_col border_right">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">23</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Total Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="inboud_event_chart_total">
                                        <div class="pie-wrapper progress-90">
                                        <span class="label">54</span>
                                        <div class="pie">
                                          <div class="left-side half-circle"></div>
                                          <div class="right-side half-circle"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="content_status_desc">Current Events <br /> Per Second</div>
                                </div>
                                <div class="content_status_col">
                                    <div class="content_status_amount text-left">4325</div>
                                    <div class="content_status_desc text-left" style="margin-bottom: 13px;">Events Processed</div>
                                    <div class="content_status_amount text-left">7865 <span>kb</span></div>
                                    <div class="content_status_desc text-left">Data Processed</div>
                                </div>
                            </div>
                            <div class="col-md-6 content_charts">
                                <ul class="nav content_charts_nav">
                                    <li class="active">
                                        <a href="#outbound-events-chart" data-toggle="tab" class="active">Events Processed</a>
                                    </li>
                                    <li>
                                        <a href="#outbound-data-chart" data-toggle="tab">Data Processed</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="outbound-events-chart">
                                        <div class="content_chart">
                                            <canvas id="outboundEventsByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="outbound-data-chart">
                                        <div class="content_chart">
                                            <canvas id="outboundDataByChart" width="400" height="200"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="monitor__body_tab" id="rep-1">rep-1</div>
            <div class="monitor__body_tab" id="rep-2">rep-2</div>
            <div class="monitor__body_tab" id="rep-3">rep-3</div>
            <div class="monitor__body_tab" id="rep-4">rep-4</div>
            <div class="monitor__body_tab" id="rep-5">rep-5</div>
            <div class="monitor__body_tab" id="rep-6">rep-6</div>
            <div class="monitor__body_tab" id="rep-7">rep-7</div>
            <div class="monitor__body_tab" id="rep-8">rep-8</div>
            <div class="monitor__body_tab" id="rep-9">rep-9</div>
            <div class="monitor__body_tab" id="rep-10">rep-10</div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'streamprocessors/js/jquery.scrolltabs.js' %}"></script>
    <script src="{% static 'streamprocessors/js/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'streamprocessors/js/monitor.js' %}"></script>

<script>

</script>
{% endblock %}
