{% load extras %}
{% load static %}
{% load mptt_tags %}

{% if item.name != 'destination_field_name' and item.name != 'variable_name_to' and item.name != 'variable_name_from' and item.name != 'event_field_name_from' and item.name != 'static_value_from' and item.name != 'variable_name' and item.name != 'destinations' and item.name != "operator" and  item.name != "column_name" and item.name != "lookup_stream" and item.name != "field_name" and item.name != "event_field_name" and item.name != "static_value" and item.name != "time_window" and item.name != "last_events" and item.name != "percent" or item.name == "field_name" and key == 'filter' or item.name == 'destination_field_name' and key == 'copy' or item.name == 'destinations' and key == 'adjust' %}
    {% if item.input_type == "select" %}
        <!-- select -->
        <div class="styled-select">
            <select name="{{ item.name }}_{{ step.id }}"
                    class="step"
                    data-step_id="{{ step.id }}"
                    data-popover-body="{{ item.popover.bottom_text }}"
                    data-popover-title="{{ item.popover.top_text }}">
                {% if item.name == 'category_name' %}
                    {% for item in kpi_categories %}
                        <option value="{{ item }}"
                                {% if step.category_name and step.category_name == item %}selected{% endif %}>
                            {{ item }}
                        </option>
                    {% endfor %}
                {% endif %}
                {% if item.name == 'metric' %}
                    {% for item in category_metrics|get_item:step.category_name %}
                        <option value="{{ item.name }}" data-indicator-type="{{ item.type }}"
                            {% if step.metric and step.metric == item.name %}selected{% endif %}>
                            {{ item.name }}
                        </option>
                    {% endfor %}
                {% endif %}
                {% if item.name == 'key_type' and step.steptype == 'key'%}
                     {% if step.kpi.indicator_type == 'kpi_type_measurement' %}
                        {% for item in kpi_measurement_choices %}
                            <option value="{{ item.0 }}"
                                {% if step.key_type and step.key_type == item.0 %}selected{% endif %}>
                                {{ item.1 }}
                            </option>
                        {% endfor %}
                    {% else %}
                        {% for item in kpi_action_choices %}
                            <option value="{{ item.0 }}"
                                {% if step.key_type and step.key_type == item.0 %}selected{% endif %}>
                                {{ item.1 }}
                            </option>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if item.name == 'topic' %}
                    <option value="0">Please Select...</option>
                    {% for topic in topics %}
                        <option value="{{ topic.name }}"
                                {% if step.topic and step.topic == topic.name %}selected{% endif %}>
                            {{ topic.display_name }}
                        </option>
                    {% endfor %}
                {% endif %}
                {% if item.name == 'destination_field_name' or item.name == 'remove_field_name' or item.name == 'add_field_name' or item.name == 'target_field_name' or item.name == 'copy_field_name' or item.name == 'rename_field_name' or item.name == 'adjust_field_name' or item.name == 'set_field_name' or item.name == 'search_field_name'%}
                    {% for schema_fields in schemas_fields %}
                      {% if step.stream.0.name == schema_fields.stream %}
                        {% for schema_field in schema_fields.fields %}
                          <option value="{{ schema_field.name }}"
                              {% if item.name == 'destination_field_name' and step.destination_field_name == schema_field.name or item.name == 'remove_field_name' and step.remove_field_name == schema_field.name or item.name == 'add_field_name' and step.add_field_name == schema_field.name or item.name == 'target_field_name' and step.target_field_name == schema_field.name or item.name == 'copy_field_name' and step.copy_field_name == schema_field.name or item.name == 'rename_field_name' and step.rename_field_name == schema_field.name or item.name == 'adjust_field_name' and step.adjust_field_name == schema_field.name or item.name == 'set_field_name' and step.set_field_name == schema_field.name or item.name == 'search_field_name' and step.search_field_name == schema_field.name %} selected {% endif %}>
                              {{ schema_field.name }}
                          </option>
                          {% endfor %}
                      {% endif %}
                    {% endfor %}
                {% endif %}
                {% if item.name == 'data_dictionary_name' %}
                    {% for dict in data_dictionaries %}
                        <option value="{{ dict.name }}"
                                {% if step.data_dictionary_name and step.data_dictionary_name == dict.name %}selected{% endif %}>
                            {{ dict.name }}
                        </option>
                    {% endfor %}
                {% endif %}
                {% if item.name == 'record_type' %}
                    {% for topic in topics %}
                        <option value="{{ topic.name }}"
                                {% if step.record_type and step.record_type == topic.name %}selected{% endif %}>
                            {{ topic.display_name }}
                        </option>
                    {% endfor %}
                {% endif %}
                {% if item.name == 'event_type' %}
                    {% for schema in schemas %}
                        <option value="{{ schema }}"
                                {% if step.event_type and step.event_type == schema %}selected{% endif %}>
                            {{ schema }}
                        </option>
                    {% endfor %}
                {% endif %}
                {% if item.name == 'task_recipient_id' %}
                    {% for recipient in recipients %}
                        <option value="{{ recipient.0 }}"
                                {% if step.workflowtask_set.first.recipient_id == recipient.0 %}selected{% endif %}>
                            {{ recipient.1 }}
                        </option>
                    {% endfor %}
                {% endif %}
                {% if item.name == "field_to_process" %}
                    <option selected value=""></option>
                    {% for schema_fields in schemas_fields %}
                      {% if step.stream.0.name == schema_fields.stream %}
                        {% for schema_field in schema_fields.fields %}
                          <option value="{{ schema_field.name }}" {% if step.field_to_process == schema_field.name %}selected{% endif %}>Slice by {{ schema_field.name }}</option>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                {% endif %}
                {% for option in item.choices %}
                    <option value="{{ option.0 }}"
                            {% if option.0 == step.field_operation or option.0 == step.topic or option.0 == step.result_placement_numeric or option.0 == step.keys_or_values or option.0 == step.value or option.0 == step.result_placement or option.0 == step.key_type or option.0 == step.last_event_type or option.0 == step.operator or option.0 == step.offset or option.0 == step.schedule_type or step.workflowtask_set.first.type == option.0 %}selected{% endif %}>{{ option.1 }}</option>
                {% endfor %}
            </select>
        </div>

        {% if item.name == 'destinations' %}
            {% if step.destinations == 'variable' %}
                <input name="variable_name_to_{{ step.id }}"
                       value="{{ step | lookup:"variable_name_to" }}"
                       class="result_placement--additional--to"
                       placeholder="variable_name_to"
                       data-popover-body="{{ step_types_data | get_step_type_field:'variable_name_to' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'variable_name_to' | get_item:'popover' | get_item:"top_text" }}"/>

            {% elif step.destinations == 'event' %}
                <select name="destination_field_name_{{ step.id }}"
                       class="result_placement--additional--to"
                       data-popover-body="{{ step_types_data | get_step_type_field:'destination_field_name' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'destination_field_name' | get_item:'popover' | get_item:"top_text" }}"
                >
                    {% for schema_fields in schemas_fields %}
                          {% if step.stream.0.name == schema_fields.stream %}
                            {% for schema_field in schema_fields.fields %}
                              <option value="{{ schema_field.name }}"
                                  {% if step.destination_field_name and step.destination_field_name == schema_field.name %} selected {% endif %}>
                                  {{ schema_field.name }}
                              </option>
                              {% endfor %}
                          {% endif %}
                    {% endfor %}
                </select>
            {% endif %}

        {% endif %}

        {% if item.name == "key_type_from" %}

            {% if step.key_type == "static_value" %}
                <input name="static_value_from_{{ step.id }}"
                       value="{{ step | lookup:"static_value_from" }}"
                       class="key_type--additional--from"
                       placeholder="static_value_from"
                       data-popover-body="{{ step_types_data | get_step_type_field:'static_value_from' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'static_value_from' | get_item:'popover' | get_item:"top_text" }}"/>

            {% elif step.key_type == "from_variable" %}
                <input name="variable_name_from_{{ step.id }}"
                       value="{{ step | lookup:"variable_name_from" }}"
                       class="key_type--additional--from"
                       placeholder="variable_name_from"
                       data-popover-body="{{ step_types_data | get_step_type_field:'variable_name_from' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'variable_name_from' | get_item:'popover' | get_item:"top_text" }}"/>

            {% elif step.key_type == "from_event" %}
                <select name="event_field_name_from_{{ step.id }}"
                       class="key_type--additional--from"
                       data-popover-body="{{ step_types_data | get_step_type_field:'event_field_name_from' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'event_field_name_from' | get_item:'popover' | get_item:"top_text" }}"
                >
                    {% for schema_fields in schemas_fields %}
                          {% if step.stream.0.name == schema_fields.stream %}
                            {% for schema_field in schema_fields.fields %}
                              <option value="{{ schema_field.name }}"
                                  {% if step.event_field_name_from and step.event_field_name_from == schema_field.name %} selected {% endif %}>
                                  {{ schema_field.name }}
                              </option>
                              {% endfor %}
                          {% endif %}
                    {% endfor %}
                </select>
            {% endif %}

        {% endif %}

        {% if item.name == "key_type" %}

            {% if step.key_type == "static_value" or step.key_type == "update_to_static_value" %}
                <input name="static_value_{{ step.id }}"
                       value="{{ step | lookup:"static_value" }}"
                       class="key_type--additional"
                       placeholder="Static Value"
                       data-popover-body="{{ step_types_data | get_step_type_field:'static_value' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'static_value' | get_item:'popover' | get_item:"top_text" }}"/>

            {% elif step.key_type == "from_event" and step.steptype == 'adjust'%}
                <select name="event_field_name_{{ step.id }}"
                       class="key_type--additional"
                       data-popover-body="{{ step_types_data | get_step_type_field:'event_field_name' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'event_field_name' | get_item:'popover' | get_item:"top_text" }}"
                >
                    {% for schema_fields in schemas_fields %}
                          {% if step.stream.0.name == schema_fields.stream %}
                            {% for schema_field in schema_fields.fields %}
                              <option value="{{ schema_field.name }}"
                                  {% if step.event_field_name and step.event_field_name == schema_field.name %} selected {% endif %}>
                                  {{ schema_field.name }}
                              </option>
                              {% endfor %}
                          {% endif %}
                    {% endfor %}
                </select>

            {% elif step.key_type == "from_event" or step.key_type == "update_from_event" %}
                <div class="styled-select">
                    <select name="field_name_{{ step.id }}"
                           class="key_type--additional"
                           data-popover-body="{{ step_types_data | get_step_type_field:'field_name' | get_item:'popover' | get_item:"bottom_text" }}"
                            data-popover-title="{{ step_types_data | get_step_type_field:'field_name' | get_item:'popover' | get_item:"top_text" }}">
                        {% for schema_fields in schemas_fields %}
                          {% if step.stream.0.name == schema_fields.stream %}
                            {% for schema_field in schema_fields.fields %}
                              <option value="{{ schema_field.name }}" {% if step.field_name == schema_field.name %}selected{% endif %}>{{ schema_field.name }}</option>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>

            {% elif step.key_type == "from_variable" %}
                <input name="variable_name_{{ step.id }}"
                       value="{{ step | lookup:"variable_name" }}"
                       class="key_type--additional"
                       placeholder="Variable Name"
                       data-popover-body="{{ step_types_data | get_step_type_field:'variable_name' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'variable_name' | get_item:'popover' | get_item:"top_text" }}"/>

            {% elif step.key_type != 'one' %}
                <input name="field_name_{{ step.id }}"
                       value="{{ step | lookup:"field_name" }}"
                       class="key_type--additional"
                       placeholder="Field Name"
                       data-popover-body="{{ step_types_data | get_step_type_field:'field_name' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'field_name' | get_item:'popover' | get_item:"top_text" }}"/>
            {% endif %}

        {% endif %}

        {% if item.name == "last_event_type" %}

            {% if step.last_event_type == "last_events" %}

                <input name="last_events_{{ step.id }}"
                       value="{{ step | lookup:"last_events" }}"
                       class="last_event_type--additional"
                       placeholder="last_events"
                       data-popover-body="{{ step_types_data | get_step_type_field:'last_events' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'last_events' | get_item:'popover' | get_item:"top_text" }}"/>

            {% else %}
                <input name="time_window_{{ step.id }}"
                       value="{{ step | lookup:"time_window" }}"
                       class="last_event_type--additional"
                       placeholder="time_window"
                       data-popover-body="{{ step_types_data | get_step_type_field:'time_window' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'time_window' | get_item:'popover' | get_item:"top_text" }}"/>

            {% endif %}

        {% endif %}

        {% if item.name == "value" %}
            {% if step.value == "<%<" or step.value == "<%>" or step.value == ">%<" or step.value == ">%>" %}
                <input name="static_value_{{ step.id }}"
                       value="{{ step | lookup:"percent" }}"
                       class="value--additional"
                       placeholder="percent"
                       data-popover-body="{{ step_types_data.lookup.fields.4.popover.bottom_text }}"
                       data-popover-title="{{ step_types_data.lookup.fields.4.popover.top_text }}"/>
            {% endif %}
        {% endif %}

    {% else %}
        <!-- not select -->
        {% if item.name == 'task_title' or item.name == 'task_description' %}
            <input name="{{ item.name }}_{{ step.id }}"
                   value="{% if item.name == 'task_title' %}{{ step.workflowtask_set.first.title }}{% else %}{{ step.workflowtask_set.first.description }}{% endif %}"
                   placeholder="{{ item.name }}"
                   data-popover-body="{{ item.popover.bottom_text }}"
                   data-popover-title="{{ item.popover.top_text }}"
            />
        {% elif item.name == 'template' %}
            <textarea name="{{ item.name }}_{{ step.id }}"
                      placeholder="{{ item.name }}"
                      data-popover-body="{{ item.popover.bottom_text }}"
                      data-popover-title="{{ item.popover.top_text }}"
            >{{ step | lookup:item.name }}</textarea>
        {% elif item.name == 'destination_field_name' %}
            {% if step.steptype != 'lookup' %}
                <input name="{{ item.name }}_{{ step.id }}"
                       value="{{ step | lookup:"destination_field_name" }}"
                       placeholder="destination_field_name"
                       data-popover-body="{{ step_types_data | get_step_type_field:'destination_field_name' | get_item:'popover' | get_item:"bottom_text" }}"
                       data-popover-title="{{ step_types_data | get_step_type_field:'destination_field_name' | get_item:'popover' | get_item:"top_text" }}"/>
            {% endif %}
        {% else %}
            <input name="{{ item.name }}_{{ step.id }}"
                   value="{{ step | lookup:item.name }}"
                   placeholder="{{ item.name }}"
                   data-popover-body="{{ item.popover.bottom_text }}"
                   data-popover-title="{{ item.popover.top_text }}"
            />
        {% endif %}
    {% endif %}
{% endif %}
